.table td, .table th {
    width: 100px;
}
input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
	border-color: #dc3545;
}
.form-rounded {
    border-radius: 1rem;
    }
    .text-responsive {
        font-size: calc(10px);
      }



  