
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    
  }  
  .mat-form-field {
  font-size: 18px;
    width: 70%;
  }
  .mat-header-cell{
  font-size:15px;
  float: left;
  width: 100%;;
  }