<div class="row">
  <div class="col-lg-12">
    <nb-card>
     
      <nb-card-header>
        <button (click)="backHomePage()"
        class="btn btn-outline-success "

       >
       <i class="fas fa-arrow-left"></i></button>
       Fast React Intgration Update form
      </nb-card-header>
      <nb-card-body>
        <form #form="ngForm" >
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="exportPOReceivedfrom" class="label">
                  exportPOReceivedfrom </label>

                  <input   name="exportPOReceivedfrom" #ExportPOReceivedfrom="ngModel"
                [(ngModel)]="fastReactIntgrationService.fastReactIntgration.exportPOReceivedfrom"  
                 id="exportPOReceivedfrom" 
                class="form-control" type="text" [nbDatepicker]="exportPOReceivedfrom"
                id="exportPOReceivedfrom" placeholder="Export PO Received From">
                <nb-datepicker #exportPOReceivedfrom></nb-datepicker>
              </div>
              
            </div>
           
            <div class="col-sm-3">
              <div class="form-group">
                <label for="exportModule" class="label">
                  Export Module<span class="text-danger">*</span> </label>
                  <select  name="exportModule" #exportModule="ngModel"
                  [(ngModel)]="fastReactIntgrationService.fastReactIntgration.exportModule"  
                   id="exportModule" 
                  class="form-control text-responsive" >
                  <option value=''>Select Export Module</option>
                  <option  *ngFor="let btnAction of exportmodule" 
                  value="{{btnAction.val}}">{{btnAction.btn}}</option>        
             </select>
           
              
              </div>
              
            </div>
           
            
            
          </div>
         
          <button type="submit" (click)="update(fastReactIntgrationService.fastReactIntgration)"
          [disabled]="form.invalid"  
           nbButton>Update</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>