<nb-card>
  <div class="col-md-12" style = "overflow-x: scroll;">
  
  
     
          <div class="example-header">
           
            <h5>Item Account Creation Info.</h5>
            <mat-form-field>
              <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search Here..">
              <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
  
          <mat-table #table [dataSource]="dataSource" matSort >
  
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef class="text-dark"> Actions  
                <button class="btn btn-outline-success" (click)="AddNewInpurRow()"> <i class="fa fa-plus"></i></button>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button *ngIf="element.id!=0"  mat-icon-button (click)="edit(element)" > <mat-icon>launch</mat-icon></button>
                <button *ngIf="element.id!=0" mat-button (click)="delete(element)" ><i class="far fa-trash-alt fa-lg text-danger"></i></button>
              </mat-cell>
            </ng-container>
              <!-- Fav Column -->
              <ng-container matColumnDef="itemAccount">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Item Account </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.itemAccount}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="itemCategoryId">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Item Category</mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.itemCategoryId}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="itemGroupId">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Item Group</mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.itemGroupId}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="subGroupName">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Sub Group Name </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.subGroupName}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="itemDescription">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Item Description </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.itemDescription}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="itemSize">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Item Size</mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.itemSize}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="consUom">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Cons Uom</mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.consUom}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Status</mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.status}}</mat-cell>
                 
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
       

  
      
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </nb-card>