<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
      <button (click)="backTo()"
      class="btn btn-outline-success ">
     <i class="fas fa-arrow-left"></i></button>
      Service Booking</nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (submit)="onSubmit()">
          <div class="row">     
             <div class="col-sm-3">
            <div class="form-group">
             <label for="BookingNo" class="label text-dark">
               Booking No</label
             >
             <input readonly
               name="bookingNo"    
               [(ngModel)]="
               serviceBookingForDyeingService.serviceBookingForDyeing.bookingNo
               "
               class="form-control form-rounded form-control-sm"
               type="text"
               id="BookingNo"
               placeholder=" Booking No"
             />
            </div>
            </div>
              
                <div class="col-sm-3">
                <div class="form-group">
                  <label for="BookingMonth" class="label text-dark">
                  Booking Month
                  <span class="text-danger">*</span> </label>
                  <select
                    name="bookingMonth"
                    required
                    #BookingMonth="ngModel"
                    [(ngModel)]="
                    serviceBookingForDyeingService.serviceBookingForDyeing.bookingMonth
                    "
                    id="BookingMonth"
                    class="form-control form-rounded form-control-sm"
                  >
                  <option value="">Select Booking Month</option>
                  <option
                    *ngFor="let item of dropdownValueService.monthList"
                    value="{{item.monthName}}"
                    >{{ item.monthName}}</option
                  >
                  </select>
                  <div
                    class="text-left text-danger text-responsive"
                    *ngIf="
                    serviceBookingForDyeingService.serviceBookingForDyeing.bookingMonth== '' && BookingMonth.touched
                    "
                  >
                  Booking Month is required
                  </div>
                </div>
              </div>
                <div class="col-sm-3">
                <div class="form-group">
                  <label for="BookingYear" class="label text-dark">
                  Booking Year
                  <span class="text-danger">*</span> </label>
                  <select
                    name="bookingYear"
                    required
                    #BookingYear="ngModel"
                    [(ngModel)]="
                    serviceBookingForDyeingService.serviceBookingForDyeing.bookingYear
                    "
                    id="BookingYear"
                    class="form-control form-rounded form-control-sm"
                  >
                  <option value="">Select Booking Year</option>
                  <option
                    *ngFor="let item of dropdownValueService.yearList"
                    value="{{item.year}}"
                    >{{ item.year}}</option
                  >
                  </select>
                  <div
                    class="text-left text-danger text-responsive"
                    *ngIf="
                    serviceBookingForDyeingService.serviceBookingForDyeing.bookingYear== '' && BookingYear.touched
                    "
                  >
                  Booking Year is required
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
               <div class="form-group">
                 <label for="SelectedOrderNo" class="label text-dark">
                 Selected Order No<span class="text-danger">*</span></label
                 >
                 <input
                   required
                   name="selectedOrderNo"
                   #SelectedOrderNo="ngModel"
                   [(ngModel)]="
                   serviceBookingForDyeingService.serviceBookingForDyeing.selectedOrderNo
                   "
                   type="text"
                   class="form-control form-rounded form-control-sm"
                   id="SelectedOrderNo"
                   placeholder="Selected Order No"
                 />
                 <div
                   class="text-left text-danger text-responsive"
                   *ngIf="
                   serviceBookingForDyeingService.serviceBookingForDyeing.selectedOrderNo ==
                       '' && SelectedOrderNo.touched
                   "
                 >
                 Selected Order No is required
                 </div>
               </div>
             </div>
            </div>
<div class="row">
   <div class="col-sm-3">
  <div class="form-group">
   <label for="JobNoId" class="label text-dark">
     Job No</label
   >
   <input
     name="jobNoId"    
     [(ngModel)]="
     serviceBookingForDyeingService.serviceBookingForDyeing.jobNoId
     "
     class="form-control form-rounded form-control-sm"
     type="text"
     id="JobNoId"
     placeholder=" Job No"
   />
  </div>
  </div>
    
      <div class="col-sm-3">
      <div class="form-group">
        <label for="CompanyNameId" class="label text-dark">
        Company Name
        <span class="text-danger">*</span> </label>
        <select
          name="companyNameId"
          required
          #CompanyNameId="ngModel"
          [(ngModel)]="
          serviceBookingForDyeingService.serviceBookingForDyeing.companyNameId
          "
          id="CompanyNameId"
          class="form-control form-rounded form-control-sm"
        >
        <option value="">Select Company Name</option>
        <option
          *ngFor="let item of dropdownValueService.companyList"
          value="{{item.compID}}"
          >{{ item.company_Name}}</option
        >
        </select>
        <div
          class="text-left text-danger text-responsive"
          *ngIf="
          serviceBookingForDyeingService.serviceBookingForDyeing.companyNameId== '' && CompanyNameId.touched
          "
        >
        Company Name is required
        </div>
      </div>
    </div>
      <div class="col-sm-3">
      <div class="form-group">
        <label for="BuyerNameId" class="label text-dark">
        Buyer Name
        </label>
        <select
          name="buyerNameId"
        
          #BuyerNameId="ngModel"
          [(ngModel)]="
          serviceBookingForDyeingService.serviceBookingForDyeing.buyerNameId
          "
          id="BuyerNameId"
          class="form-control form-rounded form-control-sm"
        >
        <option value="">Select Buyer Name</option>
        <option
          *ngFor="let item of dropdownValueService.buyerList"
          value="{{item.id}}"
          >{{ item.contactName}}</option
        >
        </select>
        
      </div>
    </div>
      
      <div class="col-sm-3">
      <div class="form-group">
        <label for="CurrencyId" class="label text-dark">
        Currency
        </label>
        <select
          name="currencyId"
        
          #CurrencyId="ngModel"
          [(ngModel)]="
          serviceBookingForDyeingService.serviceBookingForDyeing.currencyId
          "
          id="CurrencyId"
          class="form-control form-rounded form-control-sm"
        >
        <option value="">Select Currency</option>
        <option
          *ngFor="let item of dropdownValueService.currencyList"
          value="{{item.id}}"
          >{{ item.discountMethodName}}</option
        >
        </select>
        
      </div>
    </div>
  </div>
 
<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
     <label for="ExchangeRate" class="label text-dark">
       Exchange Rate</label
     >
     <input
       name="exchangeRate"    
       [(ngModel)]="
       serviceBookingForDyeingService.serviceBookingForDyeing.exchangeRate
       "
       class="form-control form-rounded form-control-sm"
       type="text"
       id="ExchangeRate"
       placeholder=" Exchange Rate"
     />
    </div>
    </div>
       <div class="col-sm-3">
        <div class="form-group">
          <label for="BookingDate" class="label text-dark">
            Booking Date
          </label>
          <input readonly
            name="bookingDate"
            
            #bookingDate="ngModel"
            [(ngModel)]="
              serviceBookingForDyeingService.serviceBookingForDyeing.bookingDate
            "          
            type="text"
            class="form-control form-rounded form-control-sm"
            id="BookingDate"
            [nbDatepicker]="BookingDate"
            placeholder="Booking Date"
          />
          
          <nb-datepicker #BookingDate></nb-datepicker>
        </div>
      </div> 
      <div class="col-sm-3">
        <div class="form-group">
          <label for="DeliveryDate" class="label text-dark">
            Delivery Date
          </label>
          <input readonly
            name="deliveryDate"
            
            #deliveryDate="ngModel"
            [(ngModel)]="
              serviceBookingForDyeingService.serviceBookingForDyeing.deliveryDate
            "          
            type="text"
            class="form-control form-rounded form-control-sm"
            id="DeliveryDate"
            [nbDatepicker]="DeliveryDate"
            placeholder="Delivery Date"
          />
          
          <nb-datepicker #DeliveryDate></nb-datepicker>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="PayMode" class="label text-dark">
          Pay Mode
          <span class="text-danger">*</span> </label>
          <select
            name="payMode"
            required
            #PayMode="ngModel"
            [(ngModel)]="
            serviceBookingForDyeingService.serviceBookingForDyeing.payMode
            "
            id="PayMode"
            class="form-control form-rounded form-control-sm"
          >
          <option value="">Select Pay Mode</option>
          <option
            *ngFor="let item of dropdownValueService.payModeList"
            value="{{item.value}}"
            >{{ item.value}}</option
          >
          </select>
          <div
            class="text-left text-danger text-responsive"
            *ngIf="
            serviceBookingForDyeingService.serviceBookingForDyeing.payMode== '' && PayMode.touched
            "
          >
          Pay Mode is required
          </div>
        </div>
      </div>
</div>
<div class="row">
  
    <div class="col-sm-3">
    <div class="form-group">
      <label for="Source" class="label text-dark">
      Source
      </label>
      <select
        name="source"
      
        #Source="ngModel"
        [(ngModel)]="
        serviceBookingForDyeingService.serviceBookingForDyeing.source
        "
        id="Source"
        class="form-control form-rounded form-control-sm"
      >
      <option value="">Select Source</option>
      <option
        *ngFor="let item of dropdownValueService.sourceList"
        value="{{item.value}}"
        >{{ item.value}}</option
      >
      </select>
      
    </div>
  </div>
    
    <div class="col-sm-3">
    <div class="form-group">
      <label for="SupplierNameId" class="label text-dark">
      Supplier Name
      </label>
      <select
        name="supplierNameId"
      
        #SupplierNameId="ngModel"
        [(ngModel)]="
        serviceBookingForDyeingService.serviceBookingForDyeing.supplierNameId
        "
        id="SupplierNameId"
        class="form-control form-rounded form-control-sm"
      >
      <option value="">Select Supplier Name</option>
      <option
        *ngFor="let item of dropdownValueService.subpplierList"
        value="{{item.id}}"
        >{{ item.supplierName}}</option
      >
      </select>
      
    </div>
  </div>
     <div class="col-sm-3">
<div class="form-group">
 <label for="Attention" class="label text-dark">
   Attention</label
 >
 <input
   name="attention"    
   [(ngModel)]="
   serviceBookingForDyeingService.serviceBookingForDyeing.attention
   "
   class="form-control form-rounded form-control-sm"
   type="text"
   id="Attention"
   placeholder=" Attention"
 />
</div>
</div>
<div class="col-sm-3">
  <div class="form-group">
    <label for="WithMaterial" class="label text-dark">
    With Material
    </label>
    <select
      name="withMaterial"
    
      #WithMaterial="ngModel"
      [(ngModel)]="
      serviceBookingForDyeingService.serviceBookingForDyeing.withMaterial
      "
      id="WithMaterial"
      class="form-control form-rounded form-control-sm"
    >
    <option value="">Select With Material</option>
    <option
      *ngFor="let item of dropdownValueService.materialSourceList"
      value="{{item.value}}"
      >{{ item.value}}</option
    >
    </select>
    
  </div>
</div>
</div>    
          <button
            type="submit"
            nbButton
            [disabled]="
              form.invalid
            "
          >
            Submit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
