<nb-card>
  <nb-card-header
  > 
  
  Wash Cost
 
  <button
    class="btn btn-outline-success float-right"
    (click)="WashCostService.gmtsWashDetailsForm()"
  >
    <i class="fa fa-plus"></i>
  </button>
 
</nb-card-header>
  <nb-card-body>
    <div class="col-md-12" style="overflow-x: scroll;">
      <div class="smart-table-container" style="width:1500px;">
      <form  >
        <table class="">
          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Country</th>
              <th scope="col">Cons/ 1 Dzn Gmts</th>
              <th scope="col"></th>
              <th scope="col">Rate</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
             
            </tr>
          </thead>
            
              <tbody [formGroup]="fg"
              *ngFor="let fg of WashCostService.gmtsWashInformationForm.controls;let i=index" >
                <tr>                
                   <td>   
                    <button  class="btn btn-light ml-1" (click)="onDeleteWashCost(WashCostService.gmtsWashInformationForm,i)"
                    >
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                        
                    </button> 
                   </td>
                    <td>
            
                      <select 
                      formControlName="name"  
                      class="form-control form-rounded form-control-sm">
                      <option value=''>Select Wash Name </option>
                        <option  *ngFor="let btnAction of washname" value="{{btnAction.val}}">{{btnAction.btn}}</option>   
                 </select> 
                     
                    </td>
                    <td>                     
                      <select 
                      formControlName="typeId"  
                      class="form-control form-rounded form-control-sm">
                      <option value=0>Select Type </option>
                        <option  *ngFor="let typelist of dropdownValueService.typeList" value="{{typelist.id}}">{{typelist.typeName}}</option>   
                 </select> 

                    </td>    
                    <td>                 
                      <select 
                      formControlName="countryId"  
                      class="form-control form-rounded form-control-sm">
                      <option value=0>Select Country</option>
                      <option  *ngFor="let c of dropdownValueService.regionList" 
                      value="{{c.regionID}}">{{c.region_Name}}</option>
                 </select>  
                    </td>
                    <td>
                        <input
                        class="form-control form-rounded form-control-sm "
                        type="text"            
                        placeholder="Cons/ 1 Dzn Gmts"
                        formControlName="consOneDznGmts"
                       
                      />
                    </td>
                    <td><button  class=" btn btn-info form-control form-rounded form-control  text-responsive" (click)="onAdd(i)" >Add Consump.</button></td>
                    <td>
                      <input
                      class="form-control form-rounded form-control-sm "
                      type="text"                   
                      placeholder="Rate"
                      knifeOnlyNumbers
                      formControlName="rate"
                    />
                    </td>
                    <td>
                      <input
                      class="form-control form-rounded form-control-sm "
                      type="text"
                      knifeOnlyNumbers
                      placeholder="Amount"
                      (change)="totalCalculationWashCost(WashCostService.gmtsWashInformationForm)"
                      formControlName="amount"
                    />
                    </td>
                    <td>
                     
                    <select 
                    formControlName="status"  
                    class="form-control form-rounded form-control-sm">
                    <option value=''>Select Status  </option>
                      <option  *ngFor="let btnAction of status" value="{{btnAction.val}}">{{btnAction.btn}}</option>   
               </select> 
                    </td>
                    
                   
                     
                </tr>
                
                <button *ngIf="i==WashCostService.count-1" type="submit" 
                [disabled]="fg.invalid" 
                (click)="recordSubmitGmtsWash(WashCostService.gmtsWashInformationForm)"
                nbButton >Submit</button>
              </tbody>
              <tbody>
                <tr>
                  <td colspan="7" class= "text-right ">Sum</td>
                  <td > <input readonly
                   class="form-control form-rounded form-control-sm "
                   type="text"
                   name="totalAmount"
                   [(ngModel)]="WashCostService.totalAmount"
                   placeholder="Total Amount"
                  
                 /></td>
                  
                </tr>
              </tbody>
             
           
           
             
           
         
        </table>
       
      </form>
      </div>
    </div>
    
 
  </nb-card-body>
</nb-card>
