<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
      <button (click)="backTo()"
      class="btn btn-outline-success ">
     <i class="fas fa-arrow-left"></i></button>
      Short Fabric Booking Details</nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="FabricDescriptionId" class="label text-dark">
              Fabric Description
              <span class="text-danger">*</span> </label>
              <select
                name="fabricDescriptionId"
                required
                #FabricDescriptionId="ngModel"
                [(ngModel)]="
                shortFabricBookingDetailsService.shortFabricBookingDetails.fabricDescriptionId
                "
                id="FabricDescriptionId"
                class="form-control form-rounded form-control-sm"
              >
              <option value="">Select Fabric Description</option>
              <option
                *ngFor="let f of dropdownValueService.fabricDescriptionList"
                value="{{f.id}}"
                >F.N-{{f.fabNature}},Const:{{f.construction}},comp-{{f.composition}}</option
              >
              </select>
              <div
                class="text-left text-danger text-responsive"
                *ngIf="
                shortFabricBookingDetailsService.shortFabricBookingDetails.fabricDescriptionId== '' && FabricDescriptionId.touched
                "
              >
              Fabric Description is required
              </div>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="form-group">
              <label for="GarmentsColor" class="label text-dark">
              Garments Color
              <span class="text-danger">*</span> </label>
              <select
                name="garmentsColor"
                required
                #GarmentsColor="ngModel"
                [(ngModel)]="
                shortFabricBookingDetailsService.shortFabricBookingDetails.garmentsColor
                "
                id="GarmentsColor"
                class="form-control form-rounded form-control-sm"
              >
              <option value="">Select Garments Color</option>
              <option
                *ngFor="let item of dropdownValueService.garmentsColorList"
                value="{{item.color}}"
                >{{ item.color}}</option
              >
              </select>
              <div
                class="text-left text-danger text-responsive"
                *ngIf="
                shortFabricBookingDetailsService.shortFabricBookingDetails.garmentsColor== '' && GarmentsColor.touched
                "
              >
              Garments Color is required
              </div>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="form-group">
              <label for="FabricColor" class="label text-dark">
              Fabric Color
              </label>
              <select
                name="fabricColor"
              
                #FabricColor="ngModel"
                [(ngModel)]="
                shortFabricBookingDetailsService.shortFabricBookingDetails.fabricColor
                "
                id="FabricColor"
                class="form-control form-rounded form-control-sm"
              >
              <option value="">Select Fabric Color</option>
              <option
                *ngFor="let item of dropdownValueService.garmentsColorList"
                value="{{item.color}}"
                >{{ item.color}}</option
              >
              </select>
              
            </div>
          </div>
            
            <div class="col-sm-3">
            <div class="form-group">
              <label for="Garmentssize" class="label text-dark">
              Garments size
              <span class="text-danger">*</span> </label>
              <select
                name="garmentssize"
                required
                #Garmentssize="ngModel"
                [(ngModel)]="
                shortFabricBookingDetailsService.shortFabricBookingDetails.garmentssize
                "
                id="Garmentssize"
                class="form-control form-rounded form-control-sm"
              >
              <option value="">Select Garments size</option>
              <option
                *ngFor="let item of dropdownValueService.garmentsSizList"
                value="{{item.size}}"
                >{{ item.size}}</option
              >
              </select>
              <div
                class="text-left text-danger text-responsive"
                *ngIf="
                shortFabricBookingDetailsService.shortFabricBookingDetails.garmentssize== '' && Garmentssize.touched
                "
              >
              Garments size is required
              </div>
            </div>
          </div>
        </div> 
   <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="DiaOrWidth" class="label text-dark">
        Dia/Width<span class="text-danger">*</span></label
        >
        <input
          required
          name="diaOrWidth"
          #DiaOrWidth="ngModel"
          [(ngModel)]="
          shortFabricBookingDetailsService.shortFabricBookingDetails.diaOrWidth
          "
          type="text"
          class="form-control form-rounded form-control-sm"
          id="DiaOrWidth"
          placeholder="Dia/Width"
        />
        <div
          class="text-left text-danger text-responsive"
          *ngIf="
          shortFabricBookingDetailsService.shortFabricBookingDetails.diaOrWidth ==
              '' && DiaOrWidth.touched
          "
        >
        Dia/Width is required
        </div>
      </div>
    </div> 
    <div class="col-sm-3">
  <div class="form-group">
    <label for="FinishFabric" class="label text-dark">
      Finish Fabric</label
    >
    <input
      name="finishFabric"    
      (change)="calculateTotalAmount()"
      [(ngModel)]="
      shortFabricBookingDetailsService.shortFabricBookingDetails.finishFabric
      "
      class="form-control form-rounded form-control-sm"
      type="number"
      id="FinishFabric"
      placeholder=" Finish Fabric"
    />
  </div>
 </div>
      <div class="col-sm-3">
  <div class="form-group">
    <label for="Processloss" class="label text-dark">
      Process Loss</label
    >
    <input
      name="processloss"    
      [(ngModel)]="
      shortFabricBookingDetailsService.shortFabricBookingDetails.processloss
      "
      class="form-control form-rounded form-control-sm"
      type="number"
      id="Processloss"
      placeholder=" Process Loss"
    />
  </div>
 </div>
      <div class="col-sm-3">
  <div class="form-group">
    <label for="GrayFabric" class="label text-dark">
      Gray Fabric</label
    >
    <input
      name="grayFabric"    
      [(ngModel)]="
      shortFabricBookingDetailsService.shortFabricBookingDetails.grayFabric
      "
      class="form-control form-rounded form-control-sm"
      type="number"
      id="GrayFabric"
      placeholder=" Gray Fabric"
    />
  </div>
 </div>
   </div>

   <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="Rate" class="label text-dark">
          Rate</label
        >
        <input
          name="rate"    
          (change)="calculateTotalAmount()"
          [(ngModel)]="
          shortFabricBookingDetailsService.shortFabricBookingDetails.rate
          "
          class="form-control form-rounded form-control-sm"
          type="number"
          id="Rate"
          placeholder=" Rate"
        />
      </div>
     </div>
          <div class="col-sm-3">
      <div class="form-group">
        <label for="Amount" class="label text-dark">
          Amount</label
        >
        <input
        readonly
          name="amount"    
          [(ngModel)]="
          shortFabricBookingDetailsService.shortFabricBookingDetails.amount
          "
          class="form-control form-rounded form-control-sm"
          type="number"
          id="Amount"
          placeholder=" Amount"
        />
      </div>
     </div>
          <div class="col-sm-3">
      <div class="form-group">
        <label for="RmgQty" class="label text-dark">
          RMG Qty</label
        >
        <input
          name="rmgQty"    
          [(ngModel)]="
          shortFabricBookingDetailsService.shortFabricBookingDetails.rmgQty
          "
          class="form-control form-rounded form-control-sm"
          type="number"
          id="RmgQty"
          placeholder=" RMG Qty"
        />
      </div>
     </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="Itemsize" class="label text-dark">
              Item Size
              </label>
              <select
                name="itemsize"
              
                #Itemsize="ngModel"
                [(ngModel)]="
                shortFabricBookingDetailsService.shortFabricBookingDetails.itemsize
                "
                id="Itemsize"
                class="form-control form-rounded form-control-sm"
              >
              <option value="">Select Item Size</option>
              <option
                *ngFor="let item of dropdownValueService.garmentsSizList"
                value="{{item.size}}"
                >{{ item.size}}</option
              >
              </select>
              
            </div>
          </div>
   </div>
    
     <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="Departments" class="label text-dark">
          Responsible Dept
          <span class="text-danger">*</span> </label>
          <select
            name="departments"
            required
            #Departments="ngModel"
            [(ngModel)]="
            shortFabricBookingDetailsService.shortFabricBookingDetails.departments
            "
            id="Departments"
            class="form-control form-rounded form-control-sm"
          >
          <option value="">Select Responsible Dept</option>
          <option
            *ngFor="let item of dropdownValueService.departmentsList"
            value="{{item.departmentName}}"
            >{{ item.departmentName}}</option
          >
          </select>
          <div
            class="text-left text-danger text-responsive"
            *ngIf="
            shortFabricBookingDetailsService.shortFabricBookingDetails.departments== '' && Departments.touched
            "
          >
          Responsible Dept is required
          </div>
        </div>
      </div>
      <div class="col-sm-3">
       <div class="form-group">
         <label for="Responsibleperson" class="label text-dark">
         Responsible Persion<span class="text-danger">*</span></label
         >
         <input
           required
           name="responsibleperson"
           #Responsibleperson="ngModel"
           [(ngModel)]="
           shortFabricBookingDetailsService.shortFabricBookingDetails.responsibleperson
           "
           type="text"
           class="form-control form-rounded form-control-sm"
           id="Responsibleperson"
           placeholder="Responsible Persion"
         />
         <div
           class="text-left text-danger text-responsive"
           *ngIf="
           shortFabricBookingDetailsService.shortFabricBookingDetails.responsibleperson ==
               '' && Responsibleperson.touched
           "
         >
         Responsible Persion is required
         </div>
       </div>
     </div>
     <div class="col-sm-3">
       <div class="form-group">
         <label for="Reason" class="label text-dark">
         Reason<span class="text-danger">*</span></label
         >
         <input
           required
           name="reason"
           #Reason="ngModel"
           [(ngModel)]="
           shortFabricBookingDetailsService.shortFabricBookingDetails.reason
           "
           type="text"
           class="form-control form-rounded form-control-sm"
           id="Reason"
           placeholder="Reason"
         />
         <div
           class="text-left text-danger text-responsive"
           *ngIf="
           shortFabricBookingDetailsService.shortFabricBookingDetails.reason ==
               '' && Reason.touched
           "
         >
         Reason is required
         </div>
       </div>
     </div>
     </div>
            
           
        
       
          <button
            type="submit"
            nbButton
            [disabled]="
              form.invalid
            "
          >
            Submit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
