<!--<h1>Country Data</h1>
<p>This component demonstrates fetching Country data from the server.</p>
<p *ngIf="!Regionlist"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/addCountry']">Create New</a>
</p>
<table class='table' *ngIf="Regionlist">
  <thead>
    <tr>
      <th>Country ID</th>
      <th>Country Name</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reg of Regionlist">
      <td>{{ reg.regionId }}</td>
      <td>{{ reg.regionName }}</td>




      <td>
        <a [routerLink]="['/Country/edit/', reg.regionId]">Edit</a> |
        <a [routerLink]="" (click)="delete(reg.regionId)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>-->


<h4>Location Information</h4>
<p>This component demonstrates fetching Location data from the server.</p>
<p *ngIf="!Regionlist"><em>Loading...</em></p>
<p>
  <button type="button" class="btn btn-info" (click)="openModalDialog()">Add new</button>
</p>
<!--<pre>{{Regionlist|json}}</pre>-->
<table class='table' style="background-color:#FFFFFF; border:2px#6D7B8D; padding:5px;width:99%;table-layout:fixed;" cellpadding="2" cellspacing="2" *ngIf="Regionlist">
  <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid1px#659EC7;">

    <td width="80" align="center">Country ID</td>
    <td width="150" align="center">Country Name</td>
    <td width="150" align="center">Actions</td>

  </tr>
  <tbody *ngFor="let comp of Regionlist">
    <tr>
      <td align="center" style="border: solid1px#659EC7; padding: 5px;table-layout:fixed;"><span style="color:#9F000F">{{comp.regionId}}</span></td>
      <td style="border: solid1px#659EC7; padding: 5px;table-layout:fixed;"><span style="color:#9F000F">{{comp.regionName}}</span></td>



      <td align="center" style="border: solid1px#659EC7; padding: 5px;table-layout:fixed;">
        <button type="button" class="btn btn-link btn-sm" (click)="openModalDialog(comp.regionId)">Edit</button>
        <button type="button" class="btn btn-link btn-sm" (click)="delete(comp.regionId)">Delete</button>
      </td>

    </tr>

  </tbody>
</table>

<div class="modal" id="modalCountry" tabindex="1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="RegionForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
          <div class="form-group row">
            <label class=" control-label col-md-12" for="regionName">Country Name</label>
            <div class="col-md-4">
              <input class="form-control" type="text" formControlName="regionName">
            </div>
            <span class="text-danger" *ngIf="RegionForm.hasError('required', 'regionName') && formDir.submitted">
              Country Name is required.
            </span>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
            <button class="btn" (click)="closeModalDialog()">Cancel</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModalDialog()">Close</button>
      </div>
    </div>
  </div>
</div>
