<nb-card>
  <div class="col-md-12" style = "overflow-x: scroll;">
    
  
      
          <div class="example-header">
           
            <h5>Depo Location Mapping</h5>
            <mat-form-field>
              <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search Here..">
              <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
  
          <mat-table #table [dataSource]="dataSource" matSort >
  
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef class="text-dark"> Actions  
                <button class="btn btn-outline-success" (click)="AddNewInpurRow()"> <i class="fa fa-plus"></i></button>
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <button *ngIf="element.id!=0"  mat-icon-button (click)="edit(element)" > <mat-icon>launch</mat-icon></button>
                <button *ngIf="element.id!=0" mat-button (click)="delete(element)" ><i class="far fa-trash-alt fa-lg text-danger"></i></button>
              </mat-cell>
            </ng-container>
              <!-- Fav Column -->
              <ng-container matColumnDef="countryId">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">country Name </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.countryId}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="ultimateCountryId">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Ultimate Country </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.ultimateCountryId}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="countryDepoName">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Country Depo Name </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.countryDepoName}}</mat-cell>
                 
              </ng-container>
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Status </mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.status}}</mat-cell>
                 
              </ng-container>
     
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
       
      
  
     
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </nb-card>