<!-- <nb-card>
  <nb-card-header>stripe
      <button class="float-right ml-5" mat-button (click)="onClose()">
<mat-icon>close</mat-icon>
</button>
      
  </nb-card-header>
</nb-card> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <button class="float-right ml-5" mat-button (click)="onClose()">
    <mat-icon>close</mat-icon>
    </button>
</body>

</html>