<nb-card>
  <div class="col-md-12" style = "overflow-x: scroll;">
      <div class="smart-table-container" style = "width:1200px;">
  
        <div class="example-container mat-elevation-z8">
          <div class="example-header">
            <h5>Financial Parameter Setup</h5>
            <mat-form-field>
              <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search Here..">
              <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
  
          <mat-table #table [dataSource]="dataSource" matSort >
  
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef class="text-dark"> Actions  
                <button class="btn btn-outline-success ml-2" (click)="AddNewInpurRow()"> <i class="fa fa-plus"></i></button>
              </mat-header-cell>
              <mat-cell *matCellDef="let element" >       
                <button *ngIf="element.id!=0"  mat-icon-button (click)="edit(element)" > <mat-icon>launch</mat-icon></button>
                <button *ngIf="element.id!=0" mat-button (click)="delete(element)" ><i class="far fa-trash-alt fa-lg text-danger"></i></button>
              </mat-cell>
            
            </ng-container>  
          <ng-container matColumnDef="companyName">
                <mat-header-cell *matHeaderCellDef mat-sort-header  class="text-dark">Company Name</mat-header-cell>
                <mat-cell *matCellDef="let element" >{{element.companyName}}</mat-cell> 
               
          </ng-container>   
          <ng-container matColumnDef="applyingPeriod">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark">Period From</mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.applyingPeriod}}</mat-cell>  
            
          
          </ng-container>  
          <ng-container matColumnDef="to">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark">Period To </mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.to}}</mat-cell>  
            
          
          </ng-container>  
          <ng-container matColumnDef="bepcm">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark">BEP CM %</mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.bepcm}}</mat-cell>  
            
          
          </ng-container>  
          <ng-container matColumnDef="askingProfit">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark">Asking Profit %	</mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.askingProfit}}</mat-cell>  
            
          
          </ng-container>  
          <ng-container matColumnDef="askingCM">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark">Asking CM % </mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.askingCM}}</mat-cell>  
            
          
          </ng-container>  
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark">Status  </mat-header-cell>
            <mat-cell *matCellDef="let element" >{{element.status}}</mat-cell>  
            
          
          </ng-container>
        
          
          

         
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
       
        </div>
  
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </nb-card>  