<div style="margin-left:1025px;margin-top:10px">
  <th>
    <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,null)"><i class="fa fa-plus"></i> Add Item</a>
  </th>
</div>
<div style="margin-top:20px">
  <table class="table table-borderless">
    <thead class="thead-light">
    <th>Job No</th>
    <th>Order No</th>
    <th>Company Name</th>
    <th>Location</th>
    <th>Buyer Name</th>
    <th>Style No</th>
    <th>Item</th>
    <th>Country</th>
    <th>Shipment</th>
    <th>Image</th>
    </thead>

  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <!--<a class="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i> View Orders</a>-->
  </div>

</div>
