
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Payment Details</nb-card-header>
      <nb-card-body>
    
    
        <form [formGroup]="fg" *ngFor="let fg of paymentForm.controls; let i=index;" (submit)="recordSubmit(fg)" >
          <div class="row">
              <div class="col-sm-2">
                  <div class="form-group">
                    <label  for="entryDate" class="label">Date</label>
                    <input  type="text" class="form-control"   type="text"
                     id="entryDate" placeholder="Date" formControlName="entryDate">
                
                  </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                      <label for="totalAmount" class="label">Total Amount</label>
                      <input  type="text" class="form-control"   type="text"
                      id="totalAmount" placeholder="TotalAmount" formControlName="totalAmount">
                    </div>
                
                  </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label  for="PaidAmount" class="label">Paid Amount</label>
                <input  type="text" class="form-control"   type="text"
                 id="PaidAmount" placeholder="Paid Amount" formControlName="PaidAmount">
            
              </div>
            </div>
          
           
           
            <div class="col-sm-2">
              <div class="form-group">
               
            
              </div>

            </div>

           
            <div class="col-sm-1 mt-4">
              <div class="form-group">
              
            <!-- <button  class="btn btn-light ml-1" (click)="onDelete(paymentForm,i)"
            >
                <i class="far fa-trash-alt fa-lg text-danger"></i>
                
            </button>    -->
              </div>
      
            </div>
          </div>
         
        </form>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group">
        <label for="DueAmount" class="label">Due Amount</label>
           
        <input  type="text" class="form-control"   type="text"
        id="DueAmount" name="DueAmount" placeholder="Due Amount" [(ngModel)]="DueAmount">
      </div>
    </div>
  
   
   
    <div class="col-sm-2">
      
      <div class="form-group">
      
    
        <label  for="paidAmount" class="label">paying Amount</label>
        <input  type="text" class="form-control"   type="text"
         id="paidAmount" [(ngModel)]="paidAmount" placeholder="Paid Amount" >
    
      </div>
  
    </div>
  
   
    <div class="col-sm-1 mt-4">
      <div class="form-group">
        <button nbButton (click)="onSubmit(paymentForm,paidAmount)">Submit</button>
       
      </div>
    <div class="col-sm-2">
        <div class="form-group">
          
      
        </div>
      </div>
      <div class="col-sm-2">
          <div class="form-group">
          
          </div>
      
        </div>
 

  </div>
</div>

      
     
      </nb-card-body>
    </nb-card>
  </div>

  
</div>
