<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Journal Setup Entry</nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (submit)="onSubmit(form)">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="uomId" class="label">
                  journal Type <span class="text-danger">*</span></label>
                  <select  name="journalTypeId" #JournalTypeId="ngModel"
                  [(ngModel)]="journalSetupService.journalSetup.journalTypeId"
                   id="journalTypeId"  
                  class="form-control text-responsive" >
                  <option [ngValue]=0>Select Journal Type </option>
                  <option *ngFor="let journalTypeList of journalType" [value]="journalTypeList.id">{{journalTypeList.journalTypeName}}</option>
                 
             </select>
             <div class="text-left text-danger"
             *ngIf="journalSetupService.journalSetup.journalTypeId==0&&JournalTypeId.touched">
             Journal Type  is required
           </div>
              </div>
              
            </div>
            
            <div class="col-sm-3">
              <div class="form-group">
                <label for="preFix" class="label">Pre Fix<span class="text-danger">*</span></label>
                <input required name="preFix" #PreFix="ngModel"
                [(ngModel)]="journalSetupService.journalSetup.preFix"
                class="form-control" type="text" 
                id="preFix" placeholder="pre Fix">
                <div class="text-left text-danger"
               *ngIf="journalSetupService.journalSetup.preFix==''&&PreFix.touched">
               Pre Fixis required
             </div>
              </div>
              
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="startingNumber" class="label">Starting Number<span class="text-danger">*</span></label>
                <input required name="startingNumber" #StartingNumber="ngModel"
                [(ngModel)]="journalSetupService.journalSetup.startingNumber"
                class="form-control" type="text" 
                id="startingNumber" placeholder="Starting Number">
                <div class="text-left text-danger"
               *ngIf="journalSetupService.journalSetup.startingNumber==0&&StartingNumber.touched">
               Starting Number required
             </div>
              </div>
              
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="Status" class="label">Status</label>
                   <select  name="status" #Status="ngModel"
                   [(ngModel)]="journalSetupService.journalSetup.status"
                    id="Status" 
                    class="form-control text-responsive" >
                   <option value=''>Select Status</option>
                   <option  *ngFor="let btnAction of Active_Inactive" 
                   value="{{btnAction.val}}">{{btnAction.btn}}</option> 
                   
               </select>
               
              </div>
            </div>
            
          </div>
          <button type="submit" [disabled]="form.invalid||journalSetupService.journalSetup.startingNumber==0" nbButton>Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
