
<nb-card>

  <div class="col-md-12" style = "overflow-x: scroll;">
    <div class="smart-table-container" style = "width:100%;">

      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <h5>Stock Info</h5>
          <mat-form-field>
            <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Search Here..">
            <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
       
        <mat-table #table [dataSource]="dataSource" matSort >

          <!-- Position Column -->
          <!-- <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef> Actions  
              <button class="btn btn-outline-success" (click)="AddNewInpurRow()"> <i class="fa fa-plus"></i></button>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" > 
              <button *ngIf="element.key==0"  class="btn btn-outline-success" (click)="save(element)">save</button>
            
              <button *ngIf="element.key!=0"  mat-icon-button (click)="edit(element)" > <mat-icon>launch</mat-icon></button>
              <button *ngIf="element.key!=0" mat-button (click)="delete(element)" ><i class="far fa-trash-alt fa-lg text-danger"></i></button>
            </mat-cell>
          
          </ng-container> -->


         
           
            <ng-container matColumnDef="ProductName">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark"> Category </mat-header-cell>
              <mat-header-cell *matCellDef="let element" >{{element.ProductName}}</mat-header-cell>        
            </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="BrandName">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark"> Product Name</mat-header-cell>
          <mat-header-cell *matCellDef="let element" >{{element.BrandName}}</mat-header-cell> 

        </ng-container>
        <ng-container matColumnDef="InStock">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-dark"> In Stock</mat-header-cell>
          <mat-header-cell *matCellDef="let element" >{{element.InStock}}</mat-header-cell> 
         
        </ng-container>

        <!-- <ng-container matColumnDef="ImportedBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Imported By</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field floatLabel="never">
              <input matInput placeholder="Imported By" [value]="element.ImportedBy" [(ngModel)]="element.ImportedBy" required>
            </mat-form-field>
          
        
          </mat-cell>
        
        </ng-container> -->

        <!-- <ng-container matColumnDef="ImportedDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Imported Date</mat-header-cell>
          <mat-cell *matCellDef="let element">
          <mat-form-field floatLabel="never">
          <input matInput [matDatepicker]="picker" [(ngModel)]="element.ImportedDate" [(value)]="element.ImportedDate" placeholder="Choose Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          </mat-cell>
          </ng-container> -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
      
  </div>
</div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</nb-card>