<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <button (click)="backHomePage()"
        class="btn btn-outline-success "

       >
       <i class="fas fa-arrow-left"></i></button>
       Email Address Setup Edit
      </nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (submit)="onSubmit(form)">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="userType"class="label text-dark">
                  User Type <span class="text-danger">*</span></label>
                  <select required name="userType" #UserType="ngModel"
                  [(ngModel)]="emailAddressSetupService.emailAddressSetup.userType"  
                   id="userType" 
                  class="form-control form-rounded form-control-sm">
                  <option value=''>Select User Type</option>
                  <option  *ngFor="let btnAction of usertype" 
                  value="{{btnAction.val}}">{{btnAction.btn}}</option>        
             </select>
             <div class="text-left text-danger"
             *ngIf="emailAddressSetupService.emailAddressSetup.userType==''&&UserType.touched">
             User Type  is required
           </div>
              </div>
              
            </div>
           
            <div class="col-sm-3">
              <div class="form-group">
                <label for="ContactPerson"class="label text-dark">
                  Recipient Name<span class="text-danger">*</span> </label>
                <input required  name="recipientName" #RecipientName="ngModel"
                [(ngModel)]="emailAddressSetupService.emailAddressSetup.recipientName"  
                 id="recipientName" 
              class="form-control form-rounded form-control-sm"type="text" 
                id="ContactPerson" placeholder="Recipient Name">
                <div class="text-left text-danger"
                *ngIf="emailAddressSetupService.emailAddressSetup.recipientName==''&&RecipientName.touched">
                Recipient Name is required
              </div>
              </div>
              
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="emailAddress"class="label text-dark">
                  Email Address<span class="text-danger">*</span></label>
                <input required name="emailAddress" #EmailAddress="ngModel"
                [(ngModel)]="emailAddressSetupService.emailAddressSetup.emailAddress"  
              class="form-control form-rounded form-control-sm"type="text" 
                id="emailAddress" placeholder="Email Address">
               
                <div class="text-left text-danger"
                *ngIf="emailAddressSetupService.emailAddressSetup.emailAddress==''&&EmailAddress.touched">
                Email Address  is required
              </div>
              </div>
              
            </div>
            
            
          </div>
         
          <button type="submit" [disabled]="form.invalid"   nbButton>Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>