<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>User Mapping</nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (submit)="onSubmit(form)">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="GroupName" class="label text-dark">
                  User Name <span class="text-danger">*</span></label
                >
                <select name="userId"
                #user="ngModel"
               [(ngModel)]="userMappingService.userMapping.userId"
                class="form-control form-rounded form-control-sm">
                  <option [ngValue]="0">Select User Name</option>
                  <option
                    *ngFor="let userlist of userList"
                    [value]="userlist.userID"
                    >{{ userlist.userName }}</option
                  >
                </select>
                <div
                class="text-left text-danger text-responsive"
                *ngIf="
                userMappingService.userMapping.userId== 0 &&
                user.touched
                "
              >
              User name is required
              </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="ContactPerson" class="label text-dark">
                  Emp Category<span class="text-danger">*</span>
                </label>
                <select name="empCategoryId"
                #empCategory="ngModel"
               [(ngModel)]="userMappingService.userMapping.empCategoryId"
                class="form-control form-rounded form-control-sm">
                  <option [ngValue]="0">Select Emp Category</option>
                  <option
                    *ngFor="let empCategorylist of empCategoryList"
                    [value]="empCategorylist.empCatagoryId"
                    >{{ empCategorylist.category }}</option
                  >
                </select>
                <div
                class="text-left text-danger text-responsive"
                *ngIf="
                userMappingService.userMapping.empCategoryId== 0 &&
                empCategory.touched
                "
              >
              EMP Category  is required
              </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="ContactNumber" class="label text-dark">
                  Department Name<span class="text-danger">*</span></label
                >
                <select name="departmentId"
                #department="ngModel"
               [(ngModel)]="userMappingService.userMapping.departmentId"
                class="form-control form-rounded form-control-sm">
                  <option [ngValue]="0">Select Department Name</option>
                  <option
                    *ngFor="let empDepartmentlist of empDepartmentList"
                    [value]="empDepartmentlist.id"
                    >{{ empDepartmentlist.departmentName}}</option
                  >
                </select>
                <div
                class="text-left text-danger text-responsive"
                *ngIf="
                userMappingService.userMapping.departmentId== 0 &&
                department.touched
                "
              >
              Department name is required
              </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="CountryName" class="label text-dark">
                  Designation<span class="text-danger">*</span></label
                >
                <select name="designationId"
                #designation="ngModel"
               [(ngModel)]="userMappingService.userMapping.designationId"
                class="form-control form-rounded form-control-sm">
                  <option [ngValue]="0">Select Designation Name</option>
                  <option
                    *ngFor="let empEmpDesignationslist of empEmpDesignationsList"
                    [value]="empEmpDesignationslist.id"
                    >{{ empEmpDesignationslist.designation }}</option
                  >
                </select>
                <div
                class="text-left text-danger text-responsive"
                *ngIf="
                userMappingService.userMapping.designationId==0&&
                designation.touched
                "
              >
              Designation name is required
              </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="AdditionalDesignations" class="label text-dark">
                  Additional Designations <span class="text-danger">*</span></label
                >
                <select name="additionDesignationId"
                #additionDesignation="ngModel"
               [(ngModel)]="userMappingService.userMapping.additionDesignationId"
                id="AdditionalDesignations"
                 class="form-control form-rounded form-control-sm">
                  <option [ngValue]="0">Select Additional Designations</option>
                  <option
                    *ngFor="let empAdditionalDesignationslist of empAdditionalDesignationsList"
                    [value]="empAdditionalDesignationslist.id"
                    >{{ empAdditionalDesignationslist.designation }}</option
                  >
                </select>
                <div
                class="text-left text-danger text-responsive"
                *ngIf="
                userMappingService.userMapping.additionDesignationId==0&&
                additionDesignation.touched
                "
              >
              Addition Designation  is required
              </div>
              </div>
            </div>
          </div>
         
          <button type="submit" [disabled]="form.invalid||
          form.value.userId==0||
          form.value.empCategoryId==0||
          form.value.departmentId==0||
          form.value.designationId==0||
          form.value.additionDesignationId==0"
          nbButton>Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
