<nb-card>

  <div class="example-container mat-elevation-z8">
     <div class="example-header">
       <nb-card-header>Size Dits List</nb-card-header>
        
         <div style="margin-left: 110px;width: 100%;">
        <mat-form-field>
          <input
            matInput
            #filter
            (change)="applyFilter($event.target.value)"
            placeholder="Search All Here.."
          />
        
         
          <button
            mat-icon-button
            matSuffix
            aria-label="clear"
            *ngIf="filter.value"
            (click)="filter.value = ''; applyFilter('')"
          >
            <mat-icon>close</mat-icon>
            
          
          </button>
         
          
          <!-- <button mat-flat-button class="float-right" color="warn" >Reset</button> -->
        </mat-form-field>
        <mat-icon (click)="resetFilters()">autorenew</mat-icon>
         </div>
       </div>
     
       <div style="margin-left: 110px;width: 85%;">
        <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 10px;width: 10%;">

          <input  matInput placeholder="Search {{filter.name}}" 
          name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
          (change)="filterChange(filter,$event)">
          
        </mat-form-field>
       </div>

         <mat-table
           [dataSource]="dataSource"
           matSort
           mat-table
         >
         
         <ng-container matColumnDef="id">
         <mat-header-cell *matHeaderCellDef class="text-dark"> Actions  
           <button class="btn btn-outline-success ml-2" (click)="redirectToAddPage()"> <i class="fa fa-plus"></i></button>
         </mat-header-cell>
         <mat-cell *matCellDef="let element" >       
           <button *ngIf="element.id!=0"  mat-icon-button (click)="redirectToEditPage(element)" > <mat-icon>launch</mat-icon></button>
           <button *ngIf="element.id!=0" mat-button (click)="onDelete(element)" ><i class="far fa-trash-alt fa-lg text-danger"></i></button>
         </mat-cell>
       </ng-container>
           
          <ng-container matColumnDef="size ">
  <mat-header-cell *matHeaderCellDef mat-sort-header
    >Size </mat-header-cell
  >
  <mat-cell *matCellDef="let element">{{ element.size  }}</mat-cell>
</ng-container>
<ng-container matColumnDef="gmtsPcs ">
  <mat-header-cell *matHeaderCellDef mat-sort-header
    >Gmts Pcs </mat-header-cell
  >
  <mat-cell *matCellDef="let element">{{ element.gmtsPcs  }}</mat-cell>
</ng-container>
<ng-container matColumnDef="bhQty ">
  <mat-header-cell *matHeaderCellDef mat-sort-header
    >BH Qty </mat-header-cell
  >
  <mat-cell *matCellDef="let element">{{ element.bhQty  }}</mat-cell>
</ng-container>

           <mat-header-row
             *matHeaderRowDef="displayedColumns"
           ></mat-header-row>
           <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
         </mat-table>

      </div>
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</nb-card>