<nb-card >
  <nb-card-header>Company Entry Form</nb-card-header>
  <nb-card-body >
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="CompanyName" class="label">Company Name</label>
         
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="CompanyDetails" class="label">Company Details</label>
         
        </div>
      </div>
    </div>
    <button type="submit" nbButton>Submit</button>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="dismiss()">Dismiss Dialog</button>
  </nb-card-footer>
</nb-card>