<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="height: 150px; background-color: #eeeeee;">
        <h2>This is Home index view.</h2>
    </div>
</body>
</html>
