<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <button (click)="backTo()"
        class="btn btn-outline-success "

       >
       <i class="fas fa-arrow-left"></i></button>Trims Booking</nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (submit)="onSubmit()">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
               <label for="BookingNo" class="label text-dark">
                 Booking No</label
               >
               <input readonly
                 name="bookingNo"    
                 [(ngModel)]="
                 multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.bookingNo
                 "
                 class="form-control form-rounded form-control-sm"
                 type="text"
                 id="BookingNo"
                 placeholder=" Booking No"
               />
              </div>
                         </div>
                
                  <div class="col-sm-3">
                  <div class="form-group">
                    <label for="ShipmentMonth" class="label text-dark">
                    Shipment Month
                    <span class="text-danger">*</span> </label>
                    <select
                      name="shipmentMonth"
                      required
                      #ShipmentMonth="ngModel"
                      [(ngModel)]="
                      multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.shipmentMonth
                      "
                      id="ShipmentMonth"
                      class="form-control form-rounded form-control-sm"
                    >
                    <option value="">Select Shipment Month</option>
                    <option
                      *ngFor="let item of dropdownValueService.monthList"
                      value="{{item.monthName}}"
                      >{{ item.monthName}}</option
                    >
                    </select>
                    <div
                      class="text-left text-danger text-responsive"
                      *ngIf="
                      multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.shipmentMonth== '' && ShipmentMonth.touched
                      "
                    >
                    Shipment Month is required
                    </div>
                  </div>
                </div>
                  <div class="col-sm-3">
                  <div class="form-group">
                    <label for="ShipmentYear" class="label text-dark">
                    Shipment Year
                    <span class="text-danger">*</span> </label>
                    <select
                      name="shipmentYear"
                      required
                      #ShipmentYear="ngModel"
                      [(ngModel)]="
                      multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.shipmentYear
                      "
                      id="ShipmentYear"
                      class="form-control form-rounded form-control-sm"
                    >
                    <option value="">Select Shipment Year</option>
                    <option
                      *ngFor="let item of dropdownValueService.yearList"
                      value="{{item.year}}"
                      >{{ item.year}}</option
                    >
                    </select>
                    <div
                      class="text-left text-danger text-responsive"
                      *ngIf="
                      multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.shipmentYear== '' && ShipmentYear.touched
                      "
                    >
                    Shipment Year is required
                    </div>
                  </div>
                </div>
                  <div class="col-sm-3">
                  <div class="form-group">
                    <label for="CompanyNameId" class="label text-dark">
                    Company Name
                    <span class="text-danger">*</span> </label>
                    <select
                      name="companyNameId"
                      required
                      #CompanyNameId="ngModel"
                      [(ngModel)]="
                      multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.companyNameId
                      "
                      id="CompanyNameId"
                      class="form-control form-rounded form-control-sm"
                    >
                    <option value="">Select Company Name</option>
                    <option
                      *ngFor="let item of dropdownValueService.companyList"
                      value="{{item.compID}}"
                      >{{ item.company_Name}}</option
                    >
                    </select>
                    <div
                      class="text-left text-danger text-responsive"
                      *ngIf="
                      multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.companyNameId== '' && CompanyNameId.touched
                      "
                    >
                    Company Name is required
                    </div>
                  </div>
                </div>
          </div>
     <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="BuyerNameId" class="label text-dark">
          Buyer Name
          <span class="text-danger">*</span> </label>
          <select
            name="buyerNameId"
            required
            #BuyerNameId="ngModel"
            [(ngModel)]="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.buyerNameId
            "
            id="BuyerNameId"
            class="form-control form-rounded form-control-sm"
          >
          <option value="">Select Buyer Name</option>
          <option
            *ngFor="let item of dropdownValueService.buyerList"
            value="{{item.id}}"
            >{{ item.contactName}}</option
          >
          </select>
          <div
            class="text-left text-danger text-responsive"
            *ngIf="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.buyerNameId== '' && BuyerNameId.touched
            "
          >
          Buyer Name is required
          </div>
        </div>
      </div>
         <div class="col-sm-3">
        <div class="form-group">
          <label for="BookingDate" class="label text-dark">
            Booking Date<span class="text-danger">*</span>
          </label>
          <input readonly
            name="bookingDate"
            required
            #bookingDate="ngModel"
            [(ngModel)]="
              multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.bookingDate
            "          
            type="text"
            class="form-control form-rounded form-control-sm"
            id="BookingDate"
            [nbDatepicker]="MultipleJobWiseTrimsBookingV2"
            placeholder="Booking Date"
          />
          <div
            class="text-left text-danger text-responsive"
            *ngIf="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.bookingDate ==
                '' &&bookingDate.touched
            "
          >
          Booking Date is required
          </div>
          <nb-datepicker #MultipleJobWiseTrimsBookingV2></nb-datepicker>
        </div>
      </div>
         <div class="col-sm-3">
        <div class="form-group">
          <label for="DeliveryDate" class="label text-dark">
            Delivery Date<span class="text-danger">*</span>
          </label>
          <input readonly
            name="deliveryDate"
            required
            #deliveryDate="ngModel"
            [(ngModel)]="
              multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.deliveryDate
            "          
            type="text"
            class="form-control form-rounded form-control-sm"
            id="DeliveryDate"
            [nbDatepicker]="DeliveryDate"
            placeholder="Delivery Date"
          />
          <div
            class="text-left text-danger text-responsive"
            *ngIf="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.deliveryDate ==
                '' &&deliveryDate.touched
            "
          >
          Delivery Date is required
          </div>
          <nb-datepicker #DeliveryDate></nb-datepicker>
        </div>
      </div>
        <div class="col-sm-3">
        <div class="form-group">
          <label for="PayMode" class="label text-dark">
          Pay Mode
          <span class="text-danger">*</span> </label>
          <select
            name="payMode"
            required
            #PayMode="ngModel"
            [(ngModel)]="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.payMode
            "
            id="PayMode"
            class="form-control form-rounded form-control-sm"
          >
          <option value="">Select Pay Mode</option>
          <option
            *ngFor="let item of dropdownValueService.payModeList"
            value="{{item.value}}"
            >{{ item.value}}</option
          >
          </select>
          <div
            class="text-left text-danger text-responsive"
            *ngIf="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.payMode== '' && PayMode.touched
            "
          >
          Pay Mode is required
          </div>
        </div>
      </div>
     </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="CurrencyId" class="label text-dark">
        Currency
        </label>
        <select
          name="currencyId"
          #CurrencyId="ngModel"
          [(ngModel)]="
          multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.currencyId
          "
          id="CurrencyId"
          class="form-control form-rounded form-control-sm"
        >
        <option value="">Select Currency</option>
        <option
          *ngFor="let item of dropdownValueService.currencyList"
          value="{{item.id}}"
          >{{ item.discountMethodName}}</option
        >
        </select>
        
      </div>
    </div>
      
      <div class="col-sm-3">
      <div class="form-group">
        <label for="SupplierNameId" class="label text-dark">
        Supplier Name
        <span class="text-danger">*</span> </label>
        <select
          name="supplierNameId"
          required
          #SupplierNameId="ngModel"
          [(ngModel)]="
          multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.supplierNameId
          "
          id="SupplierNameId"
          class="form-control form-rounded form-control-sm"
        >
        <option value="">Select Supplier Name</option>
        <option
          *ngFor="let item of dropdownValueService.subpplierList"
          value="{{item.id}}"
          >{{ item.supplierName}}</option
        >
        </select>
        <div
          class="text-left text-danger text-responsive"
          *ngIf="
          multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.supplierNameId== '' && SupplierNameId.touched
          "
        >
        Supplier Name is required
        </div>
      </div>
    </div>
      <div class="col-sm-3">
      <div class="form-group">
        <label for="MaterialSource" class="label text-dark">
        Material Source
        <span class="text-danger">*</span> </label>
        <select
          name="materialSource"
          required
          #MaterialSource="ngModel"
          [(ngModel)]="
          multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.materialSource
          "
          id="MaterialSource"
          class="form-control form-rounded form-control-sm"
        >
        <option value="">Select Material Source</option>
        <option
          *ngFor="let item of dropdownValueService.materialSourceList"
          value="{{item.value}}"
          >{{ item.value}}</option
        >
        </select>
        <div
          class="text-left text-danger text-responsive"
          *ngIf="
          multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.materialSource== '' && MaterialSource.touched
          "
        >
        Material Source is required
        </div>
      </div>
    </div> <div class="col-sm-3">
  <div class="form-group">
   <label for="Attention" class="label text-dark">
     Attention</label
   >
   <input
     name="attention"    
     [(ngModel)]="
     multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.attention
     "
     class="form-control form-rounded form-control-sm"
     type="text"
     id="Attention"
     placeholder=" Attention"
   />
  </div>
  </div>
  </div>
     <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="ReadyToApproved" class="label text-dark">
          Ready To Approved
          </label>
          <select
            name="readyToApproved"
            
            #ReadyToApproved="ngModel"
            [(ngModel)]="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.readyToApproved
            "
            id="ReadyToApproved"
            class="form-control form-rounded form-control-sm"
          >
          <option value="">Select Ready To Approved</option>
          <option
            *ngFor="let item of dropdownValueService.readyToApprovedList"
            value="{{item.value}}"
            >{{ item.value}}</option
          >
          </select>
          
        </div>
      </div>
        
        <div class="col-sm-3">
        <div class="form-group">
          <label for="Source" class="label text-dark">
          Source
          <span class="text-danger">*</span> </label>
          <select
            name="source"
            required
            #Source="ngModel"
            [(ngModel)]="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.source
            "
            id="Source"
            class="form-control form-rounded form-control-sm"
          >
          <option value="">Select Source</option>
          <option
            *ngFor="let item of dropdownValueService.sourceList"
            value="{{item.value}}"
            >{{ item.value}}</option
          >
          </select>
          <div
            class="text-left text-danger text-responsive"
            *ngIf="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.source== '' && Source.touched
            "
          >
          Source is required
          </div>
        </div>
      </div> <div class="col-sm-3">
    <div class="form-group">
     <label for="Remarks" class="label text-dark">
       Remarks</label
     >
     <input
       name="remarks"    
       [(ngModel)]="
       multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.remarks
       "
       class="form-control form-rounded form-control-sm"
       type="text"
       id="Remarks"
       placeholder=" Remarks"
     />
    </div>
    </div>
      
        <div class="col-sm-3">
        <div class="form-group">
          <label for="Level" class="label text-dark">
          Level
          </label>
          <select
            name="level"
            #Level="ngModel"
            [(ngModel)]="
            multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.level
            "
            id="Level"
            class="form-control form-rounded form-control-sm"
          >
          <option value="">Select Level</option>
          <option
            *ngFor="let item of dropdownValueService.levelList"
            value="{{item.value}}"
            >{{ item.value}}</option
          >
          </select>
          
        </div>
      </div>
     </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
       <label for="DeliveryTo" class="label text-dark">
         Delivery To</label
       >
       <input
         name="deliveryTo"    
         [(ngModel)]="
         multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.deliveryTo
         "
         class="form-control form-rounded form-control-sm"
         type="text"
         id="DeliveryTo"
         placeholder=" Delivery To"
       />
      </div>
      </div>
         <div class="col-sm-3">
      <div class="form-group">
       <label for="Unapproverequest" class="label text-dark">
         Un-approve request</label
       >
       <input
         name="unapproverequest"    
         [(ngModel)]="
         multipleJobWiseTrimsBookingV2Service .multipleJobWiseTrimsBookingV2.unapproverequest
         "
         class="form-control form-rounded form-control-sm"
         type="text"
         id="Unapproverequest"
         placeholder=" Un-approve request"
       />
      </div>
      </div>
  </div>
   

  
          <button
            type="submit"
            nbButton
            [disabled]="
              form.invalid
            "
          >
            Submit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>